{% extends 'base.html.twig' %}

{% block jsonld %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {"@type": "ListItem", "position": 1, "name": "Accueil", "item": "{{ absolute_url(path('app_home')) }}"},
        {"@type": "ListItem", "position": 2, "name": {{ page.title|json_encode|raw }}}
    ]
}
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="breadcrum">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>
    </div>
    <div class="top_page">
        {% if page.featuredMedia %}
            <div class="img_top">
                <img class="img_top" src="{{ asset('documents/medias/' ~ page.featuredMedia.fileName) }}" alt="{{ page.title }}" loading="lazy"/>
            </div>
        {% endif %}
        <div class="title">
            <h1 class="title-one text-light">{{ page.title }}</h1>
            <h2 class="title-two">{{ text_page }}</h2>
        </div>
    </div>

    {% if page.template == 'full-width' %}
        {# ── Pleine largeur : pas de sidebar ── #}
        <div class="row">
            <div class="col-12">
                <div class="container container-page mt-3">
                    <div class="d-flex flex-column m-2">
                        <div class="content_page">{{ page.content|raw }}</div>
                    </div>
                </div>
            </div>
        </div>

    {% elseif page.template == 'sidebar-left' %}
        {# ── Sidebar gauche ── #}
        <div class="d-flex flex-lg-row flex-column">
            <div class="col-lg-4">
                <div class="widget d-flex flex-column position-sticky pt-3" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/categories.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="container container-page mt-3">
                    <div class="d-flex flex-column m-2">
                        <div class="content_page">{{ page.content|raw }}</div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        {# ── Par défaut : contenu + sidebar droite ── #}
        <div class="d-flex flex-lg-row flex-column">
            <div class="col-lg-8">
                <div class="container container-page mt-3">
                    <div class="d-flex flex-column m-2">
                        <div class="content_page">{{ page.content|raw }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget d-flex flex-column position-sticky pt-3" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/categories.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
