{% extends 'base.html.twig' %}

{% block title %}{{ title_page }}{% endblock %}

{% block body %}


<div class="container top_home">
    <div class="img_top">
        <img src="{{ asset('images/exemple/img-1920-600.png') }}" alt="{{ title_page }}"/>
    </div>
    <div class="container title_page mt-5">
        <h1>{{ title_page }}</h1>
        <h2>{{ text_page }}</h2>
    </div>
</div>


<div class="container articles">
    <div class="row mb-5">
            {% include 'article/article_liste.html.twig' with { articles } %}
    </div>
</div>

<div class="headband bg-secondary bg-opacity-25">
    <div class="container">
        <div class="row d-flex flex-row hstack gap-3 justify-content-between pt-5 pb-5">
            <div class="card col-md-2 pb-5">
                <img src="{{ asset('images/exemple/img-500.png') }}" class="card-img-top round" alt="{{ title_page }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="">Catégorie 1</a></h5>
                </div>
            </div>

            <div class="card col-md-2 pt-5">
                <img src="{{ asset('images/exemple/img-500.png') }}" class="card-img-top round" alt="{{ title_page }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="">Catégorie 2</a></h5>
                </div>
            </div>
            <div class="card col-md-2 pb-5">
                <img src="{{ asset('images/exemple/img-500.png') }}" class="card-img-top round" alt="{{ title_page }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="">Catégorie 3</a></h5>
                </div>
            </div>
            <div class="card col-md-2 pt-5">
                <img src="{{ asset('images/exemple/img-500.png') }}" class="card-img-top round" alt="{{ title_page }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="">Catégorie 4</a></h5>
                </div>
            </div>
            <div class="card col-md-2 pb-5">
                <img src="{{ asset('images/exemple/img-500.png') }}" class="card-img-top round" alt="{{ title_page }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="">Catégorie 5</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container team">
    <div class="d-flex flex-row row mt-5 mb-5">
        <div class="col-6 team_img rounded-circle">
            <img src="{{ asset('images/exemple/img-500.png') }}" alt="" class="counter_img rounded-circle">
        </div>
        <div class="col-6 team_text d-flex flex-column justify-content-evenly align-items-center">
            <h4 class="team_name">Nom team</h4>
            <p class="team_text fst-italic">Ceci est mon texte de présentation. Je dois me présenter rapidement sans een décrivant pourquoi je participe a ses projet.</p>
        </div>
    </div>
    <div class="d-flex flex-row row pt-3 pb-3 team_counter justify-content-evenly">
        <div class="counter col-2 d-flex flex-column align-items-center">
            <img src="{{ asset('images/exemple/img-200.png') }}" alt="" class="counter_img">
            <h5 class="counter_title">Counter</h5>
            <span class="counter">255</span>
        </div>
        <div class="counter col-2 d-flex flex-column align-items-center">
            <img src="{{ asset('images/exemple/img-200.png') }}" alt="" class="counter_img">
            <h5 class="counter_title">Counter</h5>
            <span class="counter">255</span>
        </div>
        <div class="counter col-2 d-flex flex-column align-items-center">
            <img src="{{ asset('images/exemple/img-200.png') }}" alt="" class="counter_img">
            <h5 class="counter_title">Counter</h5>
            <span class="counter">255</span>
        </div>
    </div>
</div>
{% endblock %}
