{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="security">
        <h1 class="title_form">Créez votre compte</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn-font btn btn-primary mb-3 mt-3">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
