{% extends 'base.html.twig' %}

{% block seo_title %}Articles tag {{ tag.name }} - {{ site.name|default('') }}{% endblock %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_article_show_all') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="page-detail">
                <h1 class="page-detail__title">Articles : {{ tag.name }}</h1>

                <div class="page-detail__content article-detail__content">
                    {% if articles|length > 0 %}
                        <div class="row">
                            {% for article in articles %}
                                {% include 'article/item.html.twig' %}
                            {% endfor %}
                        </div>

                        {% if totalPages > 1 %}
                            <nav aria-label="Pagination" class="mt-4">
                                <ul class="pagination justify-content-center">
                                    {% if currentPage > 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('app_tag_show', { slug: tag.slug, page: currentPage - 1 }) }}">Precedent</a>
                                        </li>
                                    {% endif %}

                                    {% for i in 1..totalPages %}
                                        <li class="page-item {{ currentPage == i ? 'active' : '' }}">
                                            <a class="page-link" href="{{ path('app_tag_show', { slug: tag.slug, page: i }) }}">{{ i }}</a>
                                        </li>
                                    {% endfor %}

                                    {% if currentPage < totalPages %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('app_tag_show', { slug: tag.slug, page: currentPage + 1 }) }}">Suivant</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    {% else %}
                        <p class="text-muted">Aucun article pour ce tag.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <aside class="blog-sidebar">
                {% include 'widgets/tag_cloud.html.twig' %}
                {% include 'widgets/categories.html.twig' %}
                {% include 'widgets/archives.html.twig' %}
            </aside>
        </div>
    </div>
</div>
{% endblock %}
