{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="breadcrum mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog - {{ article.title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="widget d-flex flex-column position-sticky" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/caterogires.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
            <div class="col-8">

                <artcle class="article_content d-flex flex-column ps-2">
                    <div class="title_article_groupe d-flex flex-row justify-content-between mb-5">
                        <div class="article_title d-flex flex-column">
                            <h1 class="title-one">{{ article.title }}</h1>
                            <h2 class="title-two">{{ article.featuredText }}</h2>
                        </div>
                        <div class="article_data d-flex flex-column justify-content-between align-items-end">
                            {% for cat in article.categories %}
                                <strong class="d-inline-block ms-3" style="color: {{ cat.color }};">{{ cat.name }}</strong>
                            {% endfor %}
                            <p class="date">{{ article.createdAt|date('d/m/y') }}</p>
                        </div>
                    </div>
                    <div class="img_article">
                        {% if article.featuredMedia %}
                            <img src="{{ asset('documents/medias/' ~ article.featuredMedia.fileName) }}" alt="{{ article.featuredMedia.name}}">
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="content mt-5 pb-5">{{ article.content|raw }}</div>
                </artcle>

                <div class="article_comment d-flex flex-column p-3">
                    <h3 class="comment_title mb-4">
                        <span class="comment_count title-one">{{ article.comments|length }} commentaire(s)</span>
                    </h3>

                    {% if is_granted('ROLE_USER') %}

                    <div class="accordion mb-4" id="accordionExample">
                        <div class="accordion-item">
                            <span class="title-accordion accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ecrire un commentaire
                                </button>
                            </span>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body comment_area mb-4">
                                    {{ form_start(commentForm) }}
                                    {{ form_widget(commentForm) }}
                                    <input type="submit" class="btn-font btn btn-small btn-primary" value="Envoyer">
                                    {{ form_end(commentForm) }}
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endif %}

                    <div class="comment-list">
                        {% for comment in article.comments %}
                            {% include 'comment/index.html.twig' with [comment] %}
                        {% endfor %}
                    </div>
                </div>


                <div class="article_more bg-secondary bg-opacity-75">
                    <h3>Autres articles de même catégorie</h3>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
