{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="top_page" xmlns="http://www.w3.org/1999/html">
        <div class="img_top">
            {% if article.featuredMedia %}
                <a href="{{ path('app_article_show', { 'slug': article.slug}) }}">
                    <img src="/uploads/{{ article.featuredMedia.filename }}" alt="{{ article/featured_media.altText }}" loading="lazy" width="350" height="205">
                </a>
            {% else %}
                <img src="{{ asset('images/exemple/img-1920-600.png') }}" class="card-img-top" alt="{{ article.title }}">
            {% endif %}
        </div>
        <div class="container title_page mt-5">
            <div class="title_page_groupe d-flex flex-column justify-content-between">
                <div class="title">
                    <h1>{{ article.title }}</h1>
                    <h2>{{ article.featuredText }}</h2>
                </div>
                <div class="breadcrum">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog - {{ article.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="widget d-flex flex-column position-sticky" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/caterogires.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
            <div class="col-8">
                <div class="article_content d-flex flex-column p-5">
                    <h2 class="pb-4">{{ article.title }}</h2>
                    <hr>
                   {#  <h3 class="categorie pb-4">{{ article.categories }}</h3>#}
                    <p class="date">{{ article.createdAt|date('d/m/y') }}</p>
                    <p class="content">{{ article.content|raw }}</p>



                </div>

                <div class="article_comment d-flex flex-column p-5">
                    <h3 class="comment_title mb-4">
                        <span class="comment_count">{{ article.comments|length }} commentaire(s)</span>


                    </h3>
                    <hr>
                    <div class="comment_area mb-4">
                        {{ form_start(commentForm) }}
                        {{ form_widget(commentForm) }}
                        <input type="submit" class="btn btn-small btn-primary" value="Envoyer">
                        {{ form_end(commentForm) }}
                    </div>

                    <div class="comment-list">
                        {% for comment in article.comments %}

                            {% include 'comment/index.html.twig' with [comment] %}
                        {% endfor %}
                    </div>
                </div>


                <div class="article_more bg-secondary bg-opacity-75">
                    <h3>Autres articles de même catégorie</h3>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
