{% extends 'base.html.twig' %}

{% block title %}{{ title_page }}{% endblock %}

{% block body %}
    <div class="top_page">
        <div class="img_top">
            <img src="{{ asset('images/exemple/img-1920-600.png') }}" alt="{{ title_page }}"/>
        </div>
        <div class="container title_page mt-5">
            <div class="title_page_groupe d-flex flex-column justify-content-between">
                <div class="title">
                    <h1>{{ title_page }}</h1>
                    <h2>{{ text_page }}</h2>
                </div>
                <div class="breadcrum">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title_page }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="widget d-flex flex-column position-sticky" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/caterogires.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
            <div class="col-8">
                <div class="articles_list d-flex flex-column">
                    {% for article in articles %}
                        {% include 'article/item.html.twig' with { articles } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
